<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467283877939-604sp7h916qam6c3nq8tv4knvkiuaqad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467283877939-604sp7h916qam6c3nq8tv4knvkiuaqad</string>
	<key>API_KEY</key>
	<string>AIzaSyDARH4yTFZj6o65wtEQJAXJAcd0JSwr8wU</string>
	<key>GCM_SENDER_ID</key>
	<string>467283877939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todofirebase</string>
	<key>PROJECT_ID</key>
	<string>my-todo-6a07d</string>
	<key>STORAGE_BUCKET</key>
	<string>my-todo-6a07d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467283877939:ios:5f2996284e6c2b2fca0346</string>
</dict>
</plist>